body {
    padding: 8px;
    color: #222222;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

form {
    float: right;
}

label {
    font-weight: bold;
    display: block;
    margin: 8px 0;
}

.theater {
    background-color: white;
    padding: 8px;
    margin: 16px 8px 16px 0;
    width: 31.5%;
    display: inline-block;
    border: 1px solid #cfcfcf;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.theater h3 {
    margin: 6px 0;
}

.theater p {
    margin: 4px 0;
}

.theater .theater-chain {
    float: right;
}

button {
    color: white;
    padding: 4px;
    background-color: red;
    font-weight: bold;
    border: 1px solid darkred;
    border-radius: 4px;
}